<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mediana it academy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/20354.otf') }}">
</head>
<body>
    <div class="on1">
        <h1>Registration</h1>
        <div class="on2">
            <form method="post">
               <input type="email" name="email" id="on4" placeholder="email"><br>
                <input type="number" name="number" id="on4" placeholder="number"><br>
                <input type="text" name="username" id="on4" placeholder="username"><br>
                <input type="password" name="password" id="on4" placeholder="password"><br>
                <input type="submit" value="send" id="on3" placeholder="123">
            </form>
        </div>
    </div>
</body>
</html>